{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="text-gray-600 body-font relative bg-green-50">
    <div class="container px-2 pt-8 pb-0 mx-auto flex flex-wrap">
        <div class="catch_copy w-4/12 text-4xl text-center self-center">
            <h2 class="font-serif">中古マンションの価格を予測してみよう！</h2>
        </div>
        <div
            class="lg:w-7/12 md:w-6/12 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 mb-8 relative z-10 shadow-lg">
            <h2 class="text-gray-900 text-3xl my-5 font-medium title-font">Form</h2>
            <div class="relative mb-0">
                <form method="GET" action="{% url 'ans' %}">
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">都道府県名 </p>
                            <p class="border rounded">{{ form.prefecture }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">市区町村名 </p>
                            <p class="border rounded">{{ form.city }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">地区名 </p>
                            <p class="border rounded">{{ form.district }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">最寄駅：名称 </p>
                            <p class="border rounded">{{ form.station_name }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">最寄駅：距離（分） </p>
                            <p class="border rounded">{{ form.station_distance }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">間取り </p>
                            <p class="border rounded">{{ form.floor_plan }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">面積（㎡） </p>
                            <p class="border rounded">{{ form.area }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">建築年 </p>
                            <p class="border rounded">{{ form.age }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">建物の構造 </p>
                            <p class="border rounded">{{ form.structure }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">用途 </p>
                            <p class="border rounded">{{ form.use }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">今後の利用目的 </p>
                            <p class="border rounded">{{ form.use_after }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">都市計画 </p>
                            <p class="border rounded">{{ form.city_planning }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">建ぺい率（％） </p>
                            <p class="border rounded">{{ form.floor_area_ratio }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">容積率（％） </p>
                            <p class="border rounded">{{ form.volume }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start">
                            <p class="mr-2">取引時点 </p>
                            <p class="border rounded">{{ form.transaction }}</p>
                        </div>
                    </div>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-8">
                            <p class="mr-2">改装 </p>
                            <p class="border rounded">{{ form.reform }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <p class="mr-2">取引の事情等 </p>
                            <p class="border rounded">{{ form.caution }}</p>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button
                        class="flex center text-white bg-green-500 border-0 py-2 px-6 ml-2 focus:outline-none hover:bg-green-600 rounded text-lg"
                            type="submit">Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}
